python-dotenv=1.2.1
python=3.13
ipykernel=7.2.0
datasets=3.6.0
duckdb=1.4.3
faiss=1.10.0
langchain=1.2.15
langchain-community=0.3.31
streamlit=1.55
rank-bm25==0.2.2
langchain_huggingface==1.2.1
sentence-transformers==5.4.0
ollama==0.6.1
langchain_classic==1.0.3
